
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cuelpo{

    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 182, 160);
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
}

#samples{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 20px;
}

.sample{
    border-radius: 3px;
    background-color:rgb(67, 69, 54);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.271);
    border: none;
    height: 50px;
    width: 50px;
}
.sample:hover{
    transition: 300ms;
    background-color: rgb(32, 34, 26);
    cursor: grab;
}







#sep_banco{
    display: grid;
    grid-template-rows: repeat(2, 50px);
}

#sep_knobs{
    display: grid;
    grid-template-columns: repeat(2, 100px);
}
#knobs{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    position: relative;
    left: 60px;
}
#sep_but{
    display: grid;
    grid-template-columns: repeat(2,50px);
    width: 140px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 234, 199);
    border-radius: 10px;

}
#banco{
    position: relative;
    top: 20px;
    width: 190px;
    left:-4px;
    display:flex;   
    justify-content: space-around;
}





.but{
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 5px;
}
.knob{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: blueviolet;
}
.bank{
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
